@import "../../css/variables";
.recentSearches {
  &Wrapper {
    background-color: $babyBlue;
    padding: 1em 4.1875em;
    position: relative;

    .header {
      display: flex;
      justify-content: space-between;
    }

    .searchOptions {
      display: flex;
      align-items: center;

      .activeOption{
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: .625em .625em 0 .625em;
          border-color: $blue transparent transparent transparent;
          display: block;
          content: " ";
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
      }

    }

    .searchContent {
      &Wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: .625em;

        .searchBox {
          padding: .5em;
          background-color: $white;
          flex-basis: 49%;
          position: relative;

          .closeWrapper {
            position: absolute;
            top: .25em;
            right: .25em;
            cursor: pointer;

            svg {
              path {
                fill: $lightGray;
              }
            }
          }

          &WithImage {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            .bgImage {
              background-size: cover;
              background: url("http://placehold.it/300x500") no-repeat center;
              flex-basis: 30%;
            }
            .content {
              flex-basis: 70%;
              padding: .5em;
            }
          }

          &:nth-of-type(even){
            margin-left: 1%;
          }
          &:nth-of-type(odd){
            margin-right: 1%;
          }

          .iconHeading {
            color: $blue;
            margin-bottom: .875em;
            margin-top: .5em;

            svg {
              transform: rotateZ(-45deg);
            }
          }
          .title {
            font-size: 1em;
            font-weight: bold;
            margin-bottom: .25em;
            margin-top: .5em;
          }
          p {
            margin-top: 0;
            margin-bottom: 0em;
            font-size: .875em;

            &.searchCardFooterText {
              margin-top: 1em;
              margin-bottom: 0;
            }
          }
        }

        &.emptyFavouriteList {
          div {
            flex-basis: 49%;

            &:first-of-type {
              margin-right: 1%;
              background-color: $white;
              padding: 1em;

              p {
                color: $orange;
                font-size: 1.5em;
              }
            }
            &:last-of-type {
              margin-left: 1%;
            }

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      p {
        color: $blue;
      }
      .emailSeeAll {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        span {
          color: $blue;
          margin-right: .5em;
        }
        a:first-of-type {
          margin-right: .5em;
        }
      }
    }

  }
}