@import "../../css/variables";

.dashboard {
  &.Wrapper {
    padding: 1em 4.1875em;
    position: relative;

    .Title {
      font-size: 1.25em;
      @extend %boldFont;

      svg {
        margin-right: .5em;
      }

      &.blue {
        color: $blue;
      }
    }

    form {
      align-items: flex-start;
      justify-content: space-between;
      .formSplitHalf {
        flex-basis: 50%;

        .flexWrapper {
          display: flex;
          flex-wrap: wrap;
          margin-right: 3em;

          span, & > div {
            margin-bottom: 1em;

            input {
              width: 95%;

              &[type="radio"] {
                width: auto;
              }
            }
          }
        }
      }
    }

    .infoWrapper {
      border: 1px solid $grayBlue;
      margin-top: 1.25em;

      &.infoWrapperBG {
        background-color: $babyBlue;
        border: none;

        .Title {
          color: $grayBlack;
        }
      }
    }

    .travelPref {
      .bottomBorder {
        border-bottom: 1px solid $mediumGray;
        padding: .5em 0;

        .blue {
          color: $blue;
          text-align: right;
          margin-bottom: 0;
        }

        .title {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin: 0;
          * {
            color: $blue;
            font-weight: bold;
          }
        }
      }
      .bottomBlueBorder {
        border-bottom: 1px solid $grayBlue;
        padding-bottom: .5em;

      }
    }

    .booking {
      &.Wrapper {
        padding: 1.25em 1.875em;
        background-color: $babyBlue;
        margin-top: 1.25em;
      }
    }
  }
}