@import "../../css/variables";

.dashboard {
  &.Wrapper {
    padding: 1em 4.1875em;
    position: relative;

    .Title {
      font-size: 1.25em;
      @extend %boldFont;

      svg {
        margin-right: .5em;
      }

      &.blue {
        color: $blue;
      }
    }

    .infoWrapper {
      border: 1px solid $grayBlue;
      margin-top: 1.25em;

      &.infoWrapperBG {
        background-color: $babyBlue;
        border: none;

        .Title {
          color: $grayBlack;
        }
      }
    }

    .booking {
      &.Wrapper {
        padding: 1.25em 1.875em;
        background-color: $babyBlue;
        margin-top: 1.25em;
      }
    }
  }
}