@import "../../css/variables";

/*TABS*/
.searchOptions {
  display: flex;
  align-items: center;

  .activeOption{
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: .625em .625em 0 .625em;
      border-color: $blue transparent transparent transparent;
      display: block;
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

}

.headerBar {
  &.header {
    display: flex;
    justify-content: space-between;

    .Title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }

    .progressCircle {
      &.Wrapper {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        svg {
          width: $progressWidth;
          margin: 0 .5em;
        }

        p {
          $profileCompletionFontSize: .875em;
          font-size: $profileCompletionFontSize;
          span {
            color: $orange;
            font-weight: bold;
            font-size: $profileCompletionFontSize;
          }
          a {
            display: block;
            font-size: $profileCompletionFontSize;

            svg {
              margin: 0;
              width: auto;
            }
          }
        }
      }
    }
  }
}