@import "variables";

//FONT IMPORT
@font-face {
  font-family: ptsansregular;
  src: url("../assets/fonts/PTSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/PTSans-Regular.woff") format("woff"),
  url("../assets/fonts/PTSans-Regular.ttf") format("truetype"),
  url("../assets/fonts/PTSans-Regular.svg#PTSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ptsansbold;
  src: url("../assets/fonts/PTSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/PTSans-Bold.woff") format("woff"),
  url("../assets/fonts/PTSans-Bold.ttf") format("truetype"),
  url("../assets/fonts/PTSans-Bold.svg#PTSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

//HEADER INIT
header {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  opacity: 1 !important;
  ul {
    margin: 0;
    padding-inline-start: 0;

    li {
      margin: 0 .5em 0 0;
      list-style: none;
      color: $white;

      a {
        text-decoration: none;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

html, body, #app {
  height: 100%;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  @extend %regularFont;
}

a{
  cursor: pointer;
  text-decoration: none;
}

//COLORS
p, span, li {
  color: $grayBlack;
}
label {
  color: $midGray;
}
input, select, option {
  color: $lightGray;
}
option:disabled{
  //background: $mediumGray;
  color: $mediumGray;
}
a {
  color: $blue;
}

.appBackground {
  background-color: $babyBlue;
}

.Title {
  font-size: 1.5em;
  color: $blue;
  @extend %boldFont;
  margin-top: .5em;
  margin-bottom: .5em;

  &.SmallBlue {
    font-size: 1em;
    margin: 0 0 1em;
    display: block;
    flex-basis: 100%;
  }

  svg {
    margin-right: .5em;
  }
}

//FORM STYLES
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .hidden {
    visibility: hidden;

    input, select {
      pointer-events: none;
    }
  }

  & > * {
    flex-basis: 100%;
    margin-bottom: .5em;

    &.passwordWrapper {
      .flexThreeFour {
        margin-right: .5em;
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto !important;
      }
      .flexOneFour {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: auto !important;
      }
    }

    &.inputBG {
      background-color: $grayBlue;
      padding: .5em;
      margin-top: .5em;
    }

    &.inputFlex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;

      & > * {
        flex-basis: 100%;
      }

      &.flexHalf {
        flex-basis: 47% !important;
      }

      input {
        width: 100%;
      }
    }
  }

  label {
    font-size: .875em;
    display: block;
  }

  input {
    margin: 0;
    padding: .5em;
    border: 1px solid $mediumGray;

    &[type="submit"] {
      background-color: $blue;
      color: $white;
      width: 100%;
      padding: .6875em;
      margin-top: .5em;
    }
  }
  select {
    padding: .5em;
    width: 100%;
    border: 1px solid $mediumGray;
  }

  input[type="checkbox"] {
    margin-right: .5em;
  }

  .radioWrapper {
    flex: 0 1 25% !important;
  }

  .forgotPassword {
    font-size: .875em;
    text-align: right;
    margin-bottom: .5em;
  }
}

//DISPLAY STYLES
.dBlock {
  display: block !important;
  width: 100%;
}
.dInline {
  display: inline;
}
.dFlex {
  display: flex !important;
}
.dNone {
  display: none;
}
.flexHalf {
  flex-basis: 50% !important;
}
.flexFull {
  flex-basis: 100% !important;
}
.flexThreeFour {
  flex-basis: 80% !important;
}
.flexOneFour {
  flex-basis: 20% !important;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexNoWrap {
  flex-wrap: nowrap;
}
.justifyFlexStart {
  justify-content: flex-start;
}
.marginTop0 {
  margin-top: 0;
}
.marginBottom0{
  margin-bottom: 0;
}
.marginTopBottom0 {
  margin-top: 0;
  margin-bottom: 0;
}
.margin0 {
  margin: 0;
}
.marginRight0 {
  margin-right: 0;
}
.marginLeft0{
  margin-left: 0;
}
.marginLeftRight0 {
  margin-right: 0;
  margin-left: 0;
}
.section {
  padding: 1.25em 1.875em;
}

/*BUTTON*/
button, p, a, span {
  svg {
    &.right {
      margin-left: .5em;
    }
    &.left {
      margin-right: .5em;
    }
  }
}
button {
  &.btn {
    padding: .5em;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;

    &.primary {
      background-color: $blue;
      border: 1px solid $blue;
      color: white;
    }
    &.primaryInverse {
      background-color: transparent;
      border: 1px solid $blue;
      color: $blue;
    }
  }
}