//BRAND COLORS
$blue: #007CC3;
$babyBlue: #E5F2F9;
$grayBlue: #D0E2EC;
$darkGray: #58595b;
$lightGray: #707070;
$midGray: #646464;
$orange: #F36F21;
$grayBlack: #333333;
$white: #ffffff;
$black: #000000;
$borderGray: #CCCCCC;