@import "../../css/variables";
.recentSearches {
  &.Wrapper {
    background-color: $babyBlue;
    padding: 1em 4.1875em;
    position: relative;

    .searchContent {
      transition: .3s all linear;
      transform-origin: top;
      &.hidden {
        max-height: 0;
        opacity: 0;
      }
      &.shown {
        max-height: 500px;
        opacity: 1;
      }

      &.Wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1.5em;



        &.emptyFavouriteList {
          div {
            flex-basis: 49%;

            &.messageWrapper {
              display: flex;
              flex-wrap: wrap;
              align-items: center;

              p {
                flex-basis: 100%;

                span {
                  display: block;
                }
              }
            }

            &:first-of-type {
              margin-right: 1%;
              background-color: $white;
              padding: 1em;
              border: 2px dotted $darkerLightGray;

              p {
                color: $darkerLightGray;
                font-size: 1.25em;
              }
            }
            &:last-of-type {
              margin-left: 1%;
            }

            p {
              margin: 0;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      p {
        color: $blue;
        font-size: .875em;
      }
      .emailSeeAll {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        span {
          color: $blue;
          margin-right: .5em;
        }
        a:first-of-type {
          margin-right: .5em;

          svg {
            margin-right: .5em;
          }
        }
      }
    }

  }
}